

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
       background: #FFFAD7; 
}
.container{
    height: 500px;
    width: 850px;
    background: #F86F03;
    border-radius: 10px;
    
    margin: 50px auto ;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.round-no{
    background: #FFA41B;
    color: white;
    /* text-align: center; */
    height: 40px;
    width: 90px;
    /* background: rgb(124, 118, 118); */
    margin: 10px;
}
.round-no p{
    text-align: center;
    margin-top: 5px;
    font-size: 20px;
    
}
.game-container{
    height: 400px;
    width: 800px;
    background: #FFFAD7;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.user-side{
    display: flex;
    flex-direction: column;
    width: 310px;
    height: 350px;
    background: #FFA41B;
    margin: 5px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    position: relative;
}
.screen-user{
    width: 290px;
    height: 180px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
   
}
.buttonss{
    width: 80px;
    height: 50px;
    border-radius: 6px;
    cursor: pointer;
    background: #FE0000;
    color: white;
    border: 0px;
}
.score-user{
    width: 290px;
    height: 60px;
    background: white;
    color: #000;
    
}

.vs-message-side p.vs {
    width: 140px;
    height: 140px;
    background:#FFA41B;
    margin: 5px;
    padding: 35px 10px 20px 6px;
    text-align: center;
    
}
.vs-message-side{
    background: #F86F03;
}

.vs-message-side p.win{
    width: 140px;
    height: 140px;
    font-size: 45px;
    background:#FFA41B;
    margin: 5px;
    padding: 10px;
    
}
.vs-message-side p.loose{
    width: 140px;
    height: 140px;
    font-size: 45px;
    background:#FFA41B;
    margin: 5px;
    padding: 10px;
    
}
.vs-message-side p.draw{
    width: 140px;
    height: 140px;
    background:#FFA41B;
    margin: 5px;
    padding: 35px 20px 10px 10px;
   
}
.computer-side{
    display: flex;
    flex-direction: column;
    width: 310px;
    height: 350px;
    background: #FFA41B;
    margin: 5px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    position: relative;
}
.screen-comp{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 290px;
    height: 200px;
    background: white;
    margin-bottom: 10px;
}
.score-comp{
    width: 290px;
    height: 60px;
    background: white;
}
.who{
    color: white;
    position: absolute;
    top: 0px;
}

.vs-message-side p{
    color: white;
    font-size: 50px;
    /* position: absolute; */
    /* margin: 35px ; */
    

}


.screen-user p, .screen-comp p{
    text-align: center;
}

.score-comp p , .score-user p{
    margin-left: 10px;
}

.click-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.click-buttons button{
    margin: 10px;

    /* align-items: center;
    justify-content: space-between; */
}

.screen-comp div  , .screen-user div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 120px;
    border: 2px solid black;
    border-radius: 60px;
    padding: 10px;
   margin-bottom: 30px;
   box-sizing: border-box;
}
.screen-comp img  , .screen-user img {
    height: 80px;
    width: 80px;
    margin: 0;padding: 0;

}

.r-button{
    height: 30px;
    width: 60px;
    margin: 10px;
    background: #FFA41B;
    color: white;
    border: 0px;
}